.container {
  display: grid;
  grid-row-gap: 12px;
  grid-template-rows: auto min-content 1fr;
  height: 100%;
  margin: $spacing-02;
  overflow: hidden;
}

.movie-list {
  align-content: start;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 16px;
  overflow: auto;
  height: calc(100vh - 114px);
}

.loading-container {
  padding: $spacing-05;
}
